.email {
    margin: 0px;
    background-color: rgb(121,207,181);
}
hr.visitka {
    border: 0px;
    border-top: 3px solid rgb(121,207,181);
}
h2 {
    text-align: center;
    padding: 5px;
    margin: 0px;
}
body.visitka {
    background-color:rgba(13,151,109,1);

}
.name {
    text-align: center;
    margin: 15px;

}
.Card {
    width: 300px;
    border: 3px solid rgb(121,207,181);
    border-radius: 5px;
    margin: 10px 5px;
    padding: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(13,151,109,1)
    
}
.cardContent {
    padding: 0px;
}
.cardText {
    margin-bottom: 10px;
}
.link {
    max-width:100%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px;
    
}
img.link {
    width: 50px;
    height: 50px;
}
.container {
    height: 55px;
    display: flex;
}
.git {
    border-radius: 50%;
    border-color: rgb(121,207,181);
    border-width: 8px;
    border-style: solid;
    opacity:1;
}
#thumbnail {
    box-shadow: 0 10px 20px rgba(0,0,0,0.5), 0 6px 10px rgba(0,0,0,0.33);
}
header {
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}
header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
}
   

h2.contact {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}
.menu {
    float: right;
    margin-top: 8px;
    position: absolute;
    right: 5%;
    font-size: large;
}
   
.menu li {
    display: inline;
}
   
.menu li + li {
    margin-left: 35px;
}
   
.menu li a {
    color: rgb(121,207,181);
    text-shadow: 1px 1px 1px black;

    text-decoration: none;
}
.cat img {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%,-100%);
  z-index: -1;
}

