<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">

        <meta charset ="UTF-8">
        <meta name="description" content="Contact Me Form">
        <title>Contact Me</title>
    </head>
    <body class="visitka">
    {% extends "template.html" %}
    {% block content %}

    {% for row in rows %}
        <a href ="https://{{row['Link']}}">{{row['Link']}}</a>
    {% endfor %}
      
      <a href = "/">Go back to home page</a>
{% endblock %}
    
</body>
</html>