<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">

        <meta charset ="UTF-8">
        <meta name="description" content="Contact Me Form">
        <title>My Projects</title>
    </head>
    <body class="visitka">
        
    {% extends "template.html" %}
    {% block content %}
    <div class="projects">
    {% for row in rows %}
        <div class = 'project'>
                <a class="project_link" href ="https://{{row['Link']}}">{{row['Link']}}</a>
        </div>

    {% endfor %}
    </div>

{% endblock %}
    
</body>
</html>